@using System.Web.Script.Services
@{
    ViewBag.Title = "Search";
}
@section active
{
    <input class="required" data-bind="value: criteria, selected: true, blurOnEnter: true" />
    <button data-bind="click: getResults">Go</button>
}
<h3>Results</h3>
<p class="error" data-bind="text: error"></p>
<div data-bind="with: resultData">
    <p data-bind="text: message"></p>
    <div data-bind="simpleGrid:gridViewModel"></div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/index")

}
